@page
@model SearchModel
@{
    ViewData["Title"] = "Search | StreamHub";
}

<div class="hero">
    <div class="message">
        You are searching for <strong>@Model.Query</strong>
    </div>

    <p class="callout">
        StreamHub is still under construction. Please be patient while we are building out the features.
    </p>    
</div>
