@page
@model IndexModel
@{
    ViewData["Title"] = "StreamHub";
}

<div class="hero">
    <div style="text-align:center;">
        <picture>
            <source srcset="img/celebration-dark.svg" media="(prefers-color-scheme: dark)">
            <img src="img/celebration.svg" alt="A group celebrating" width="427" height="231">
        </picture>
    </div>

    <div class="message">
        <h1>
        Introducing the ultimate streaming companion: StreamHub!
        </h1>
    </div>
</div>

<div class="details">
    <p class="callout">
        Say goodbye to the endless scrolling and subscription hopping with this revolutionary platform that aggregates all your favorite shows from various streaming services under one roof. With StreamHub, you can effortlessly explore a vast catalog of popular shows and instantly discover which streaming service hosts each one. From the binge-worthy drama of "Stranger Things" on Netflix to the hilarious antics of "The Office" on Peacock, StreamHub provides a seamless and comprehensive viewing experience. Never miss a moment of your favorite content again as StreamHub simplifies your streaming choices and ensures you're always in the know about where to find the hottest shows. Stream smarter with StreamHub and elevate your entertainment experience to new heights!
    </p>

    <div style="text-align:center;">
        <form method="post">
            I want to watch 
            <input asp-for="Query" placeholder="e.g. The Office" />
            <input type="submit" />
        </form>
    </div>
</div>
