name: Build

on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - run: cd applications/web/src
      - name: Restore dependencies
        run: dotnet restore StreamHub.sln
      - name: Build
        run: dotnet build --no-restore StreamHub.sln
      - name: Test
        run: dotnet test --no-build --verbosity normal StreamHub.sln
      - name: Build Docker image
        run: cd ~/applications/web/src/StreamHub.Web && docker build . --tag stream-hub-web:$(date +%s)
